*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
ul,
ol {
  padding: 0;
}
h2 {
  margin-bottom: 0;
  line-height: inherit;
}

body {
  font-size: var(--font-sm);
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid: auto / repeat(2, 1fr);
  grid-auto-flow: column;
  position: relative;

  height: 100vh;

  @include breakpoint-down(small) {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid: auto/1fr;
    grid-auto-flow: row;
  }
}

label.error {
  color: var(--color-required-error);
}
input.error {
  border-color: var(--color-required-error);
}

.ui-datepicker-trigger {
  cursor: pointer;
}
