// small: 572px, tablet: 810px, medium: 1000px, desktop: 1080
$breakpoint-down: (
  xsmall: '572px',
  small: '769px',
  tablet: '810px',
  medium: '1000px',
  desktop: '1080px',
  xlarge: '1100px',
  large: '1226px',
  large2: '1300px',
  large3: '1400px',
);

$breakpoint-up: (
  small: '770px',
  tablet: '50.7rem',
  xlarge: '1100px',
  large2: '1301px',
);

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoint-down, $size)) {
    @content;
  }
}

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoint-down, $size)) {
    @content;
  }
}

@mixin breakpoint-and($size1, $size2) {
  @media (min-width: map-get($breakpoint-up, $size1)) and (max-width: map-get($breakpoint-down, $size2)) {
    @content;
  }
}
