:root {
  --pt-container: 10px;
  --font-sm: 0.875rem;
  --font-size-card: 11px;
  --color-cta: #ffec00;
  --color-border-cta: #ffed02;
  --color-border-card: #ffec00;
  --size-radius-cta: 5px;
  --color-adformtutor: #60ffd5;
  --color-magenta: #ff68ff;
  --color-terms-links: #60ffd5;
}
