@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
:root {
  --pt-container: 10px;
  --font-sm: 0.875rem;
  --font-size-card: 11px;
  --color-cta: #ffec00;
  --color-border-cta: #ffed02;
  --color-border-card: #ffec00;
  --size-radius-cta: 19px;
  --color-adformtutor: #60ffd5;
  --color-magenta: #ff68ff;
  --color-terms-links: #60ffd5;
  --color-required-error: #b85252;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

ul,
ol {
  padding: 0;
}

h2 {
  margin-bottom: 0;
  line-height: inherit;
}

body {
  font-size: var(--font-sm);
}

.container {
  display: grid;
  grid: auto/repeat(2, 1fr);
  grid-auto-flow: column;
  position: relative;
  min-height: 100vh;
}
@media (max-width: 769px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid: auto/1fr;
    grid-auto-flow: row;
  }
}

label.error {
  color: var(--color-required-error);
}

input.error {
  border-color: var(--color-required-error);
}

.ui-datepicker-trigger {
  cursor: pointer;
}

.hero__image {
  grid-column: 2/-1;
  position: relative;
  display: grid;
  background-color: black;
}
@media (max-width: 769px) {
  .hero__image {
    grid-column: 1/-1;
    background-color: black;
  }
}
@media (max-width: 810px) {
  .hero__image {
    background-color: black;
  }
}
.hero__proceso {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 432px;
  justify-self: center;
  align-self: center;
  margin-top: 4rem;
  z-index: 2;
}
@media (max-width: 769px) {
  .hero__proceso {
    left: 0;
    margin: 0 auto 3.2rem;
  }
}
@media (max-width: 810px) {
  .hero__proceso {
    left: 0;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 50.7rem) and (max-width: 1080px) {
  .hero__proceso {
    left: 70px;
  }
}
.hero__student {
  position: absolute;
  background-image: url("img/student-space.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  left: -420px;
  top: -56px;
  z-index: 0;
}
@media (min-width: 770px) and (max-width: 810px) {
  .hero__student {
    display: none;
  }
}
@media (min-width: 50.7rem) and (max-width: 1226px) {
  .hero__student {
    background-size: 34%;
    left: -164px;
  }
}
@media (min-width: 1100px) and (max-width: 1300px) {
  .hero__student {
    background-size: 51%;
    left: -214px;
  }
}
@media (min-width: 1301px) and (max-width: 1550px) {
  .hero__student {
    background-size: 64%;
    left: -267px;
  }
}
@media (max-width: 769px) {
  .hero__student {
    z-index: 1;
    background-size: 24%;
    left: 0;
    top: 74px;
  }
}
@media (max-width: 572px) {
  .hero__student {
    z-index: 1;
    background-size: 37%;
    left: 0;
    top: 74px;
  }
}
.hero__sol {
  position: absolute;
  background-image: url("img/startop.png");
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  left: -52px;
  top: 176px;
  z-index: 0;
}
@media (max-width: 769px) {
  .hero__sol {
    display: none;
  }
}
.hero__bgbottom {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 769px) {
  .hero__bgbottom {
    display: block;
  }
}
.hero__target {
  grid-column: 1/2;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  min-width: 350px;
}
@media (max-width: 769px) {
  .hero__target {
    grid-column: 1/-1;
    margin: 3rem auto 0;
  }
}
@media (max-width: 810px) {
  .hero__target {
    max-width: 320px;
  }
}
.hero__logo {
  display: flex;
  justify-content: center;
  margin: 1.3rem 0 0.7rem;
}
@media (max-width: 769px) {
  .hero__logo {
    display: none;
  }
}
.hero__logotop {
  display: none;
}
@media (max-width: 769px) {
  .hero__logotop {
    display: block;
    margin: 2rem 0;
  }
}
.hero__cta {
  margin: 0 auto;
  padding: 8px 60px;
  border: 2px solid #000;
  border-radius: var(--size-radius-cta);
  background: none;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  border-bottom-right-radius: 7px;
}
.hero__cta:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.hero__ctashadow {
  position: absolute;
  background: none;
  border: 1px solid var(--color-border-cta);
  border-radius: var(--size-radius-cta);
  top: -4px;
  left: 3px;
  width: 100%;
  height: 100%;
}
.hero__title {
  margin-bottom: 11px;
  text-align: right;
}
.hero__title h1 {
  font-size: 1.45rem;
  color: var(--color-border-cta);
  font-weight: 500;
  margin-bottom: 5px;
}
@media (max-width: 810px) {
  .hero__title h1 {
    padding: 0;
  }
}
.hero__title p {
  font-size: 1rem;
  color: var(--color-magenta);
  font-weight: 500;
}
@media (max-width: 810px) {
  .hero__title p {
    font-size: 0.9rem;
  }
}
.hero__title p::after {
  content: "";
  display: block;
  height: 3px;
  width: 122px;
  background: var(--color-cta);
  float: right;
}
.hero__card {
  border: 1.36px solid var(--color-border-card);
  padding: 0 10px 0.7rem 17px;
  border-radius: 8px;
  z-index: 1;
}
.hero__card li {
  font-size: var(--font-size-card);
  color: white;
}
.hero__card li h2 {
  font-size: 12px;
  margin-top: 1.2rem;
}
.hero__card li p {
  font-size: 12px;
}
.hero__ad {
  margin-top: 1.2rem;
  text-align: right;
  max-width: 402px;
  margin-bottom: 1rem;
  align-self: flex-end;
}
.hero__ad h3 {
  color: var(--color-magenta);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.hero__ad p {
  max-width: 80%;
  float: right;
  font-size: var(--font-size-card);
  color: white;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}
.formgroup__col {
  display: flex;
  flex-direction: column;
  max-width: 157px;
}
.formgroup--row {
  flex-direction: row;
  justify-content: space-between;
}
.formgroup__label {
  margin-bottom: 0.15rem;
}
.formgroup__input {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.275rem 0.75rem;
  line-height: 1.5;
  display: block;
}
.formgroup__input--ptb {
  padding-top: 0.36rem;
  padding-bottom: 0.36rem;
}
.formgroup__adformtutor {
  background: var(--color-adformtutor);
  padding: 15px 35px;
  border-radius: 4px;
}
.formgroup__adformtutor p {
  text-align: center;
  font-size: var(--font-size-card);
}
.formgroup__terms {
  text-align: center;
  font-size: var(--font-size-card);
}
.formgroup__terms a {
  color: var(--color-terms-links);
  text-decoration: none;
  font-weight: 500;
}
.formgroup__terms a:hover {
  text-decoration: underline;
}

.mobile__sol, .mobile__startright, .mobile__startleft {
  display: none;
  position: absolute;
}
@media (max-width: 769px) {
  .mobile__sol, .mobile__startright, .mobile__startleft {
    display: block;
  }
}
.mobile__sol {
  top: 39px;
  right: 21px;
}
.mobile__startright {
  top: 260px;
  right: 3px;
}
.mobile__startleft {
  top: 443px;
  left: 3px;
}

.fconvocatorias {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 5px;
}
@media (max-width: 769px) {
  .fconvocatorias {
    font-size: 14px;
  }
}
.fconvocatorias__inicio {
  color: var(--color-magenta);
  margin-right: 5px;
}
.fconvocatorias__fin {
  color: white;
  border-bottom: 3px solid var(--color-border-cta);
}

.saturno {
  position: absolute;
  top: -50px;
  background-image: url("img/saturno.png");
  background-size: 80%;
  background-repeat: no-repeat;
  left: 58%;
  height: 30%;
  width: 22%;
}
@media (min-width: 1100px) and (max-width: 1300px) {
  .saturno {
    background-size: 80%;
    height: 30%;
    width: 30%;
    left: 65%;
  }
}
@media (max-width: 769px) {
  .saturno {
    display: none;
  }
}
@media (max-width: 810px) {
  .saturno {
    display: none;
  }
}

.start-top {
  position: absolute;
  top: 119px;
  background-image: url("img/start-uw.png");
  background-size: 42%;
  background-repeat: no-repeat;
  left: 107px;
  height: 42px;
  width: 60px;
}
@media (max-width: 769px) {
  .start-top {
    display: none;
  }
}

.btn-ok {
  color: black;
  display: inline-block;
  background-color: var(--color-cta);
  border-radius: 0.75rem;
  width: 6rem;
  padding: 4px 0;
  border: none;
  font-weight: 700;
  height: 3.75rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.bg-silueta {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
@media (max-width: 769px) {
  .bg-silueta {
    display: none;
  }
}
@media (max-width: 810px) {
  .bg-silueta {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
